
/ImageUploader/[Ll]ibrary/
/ImageUploader/[Tt]emp/
/ImageUploader/[Oo]bj/
/ImageUploader/[Bb]uild/
/ImageUploader/[Bb]uilds/
/ImageUploader/[Ll]ogs/
/ImageUploader/[Mm]emoryCaptures/
/ImageUploader/[Vv]env/

!/[Aa]ssets/**/*.meta

/ImageUploader/[Aa]ssets/AssetStoreTools*

[Aa]ssets/Plugins/Editor/JetBrains*

.vs/

.gradle/

ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

*.pidb.meta
*.pdb.meta
*.mdb.meta

sysinfo.txt

*.apk
*.unitypackage

crashlytics-build.properties
